$colors: ("primary": #00bda4,
    "primary-dark": #0b695d,
    "dark": #000,
    "white": #fff,
    "shadow": #ddd,
    "fonts": #746e8c);

@function color($colorName) {
    @return map-get($map : $colors, $key : $colorName);
}


body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none !important;
}

a:active {
    text-decoration: none !important;
    outline: none !important;
}

.btn-rounded {
    background: color(primary);
    color: color("white");
    border-radius: 2em;
    padding: .7em 2em;
    font-weight: 500;
    margin-top: 1em;
    transition: .5s;
}

.btn-rounded:hover {
    background: color(primary-dark);
    color: color("white");
    transition: .5s;
}

@media only screen and (max-width: 768px) {
    .btn-rounded {
        padding: .7em 2em;
        margin-top: 1em;
    }
}

section {
    padding-top: 4em;
}

#nav {
    background: color('white');
    box-shadow: .2em .2em 1em #ddd;
    padding: 2px;

    .navbar-brand {
        img {
            height: 70px;
            width: auto;
        }

    }



    .nav-link {
        color: color(primary-dark);
        font-weight: 600;
        margin: 0 .7em;
        font-size: 1.1em;
        text-transform: capitalize;
    }

    .active {
        color: color(primary);
    }

    .navbar-toggler {
        font-size: 2em;
        color: color(primary);
    }

    .nav-link:hover {
        color: color(primary);
    }

    .animated-icon {
        width: 30px;
        height: 20px;
        position: relative;
        margin: 0px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
        cursor: pointer;

        span {
            display: block;
            position: absolute;
            height: 3px;
            width: 100%;
            border-radius: 9px;
            opacity: 1;
            left: 0;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: 0.25s ease-in-out;
            -moz-transition: 0.25s ease-in-out;
            -o-transition: 0.25s ease-in-out;
            transition: 0.25s ease-in-out;
        }

        span {
            background: color(primary);
        }

        span:nth-child(1) {
            top: 0px;
        }

        span:nth-child(2) {
            top: 10px;
        }

        span:nth-child(3) {
            top: 20px;
        }

    }

    .animated-icon.open {
        span:nth-child(1) {
            top: 11px;
            -webkit-transform: rotate(135deg);
            -moz-transform: rotate(135deg);
            -o-transform: rotate(135deg);
            transform: rotate(135deg);
        }

        span:nth-child(2) {
            opacity: 0;
            /* left: -60px; */
        }

        span:nth-child(3) {
            top: 11px;
            -webkit-transform: rotate(-135deg);
            -moz-transform: rotate(-135deg);
            -o-transform: rotate(-135deg);
            transform: rotate(-135deg);
        }
    }
}



.section-banner {
    height: 85vh;
    background: url(/img/header-bg.svg);
    background-size: cover;

    .container-fluid {
        width: 85%;
    }

    h1 {
        font-size: 2.8em;
        font-weight: 700;
        line-height: 1.3em;
        color: color(primary-dark);
    }

    p {
        padding-top: .5em;
        font-size: 1.2em;
        margin-right: 5em;
        line-height: 1.8em;
        color: color(fonts);
    }

    a {
        margin-top: 1em;
    }
}

@media only screen and (max-width: 768px) {
    .section-banner {
        height: 100vh;
        margin-top: -2em;

        .container-fluid {
            width: 90%;
        }

        h1 {
            font-size: 1.8em;
            line-height: 1.3em;
        }

        p {
            padding-top: .5em;
            font-size: 1em;
            margin-right: .5em;

        }
    }

}

@media only screen and (max-width: 576px) {
    .section-banner {
        margin-top: -5em;

        .container-fluid {
            width: 95%;
        }

        h1 {
            font-size: 1.6em;
        }

        p {
            font-size: .9em;
            margin-right: 1em;
        }
    }

}




#about {
    padding: 1em;

    .feature-box {
        margin: .3em 2em;
        padding: 3em 2em;
        transition: .5s;
        border-radius: .7em;

        img {
            margin-top: -7em;
        }

        h2 {
            padding-top: .3em;
            font-size: 1.5em;
            color: color(dark);
            font-weight: 600;
            transition: .5s;
        }

        p {
            font-size: 1em;
            line-height: 1.8em;
            color: color("fonts")
        }
    }

    .box-one {
        background-color: #50d38d33;
    }

    .box-two {
        background-color: #9b51e033;
    }

    .box-three {
        background-color: #56ccf233;
    }
}

@media only screen and (max-width: 768px) {
    #about {
        .feature-box {
            margin: 2em .5em;

        }
    }
}

#open-source,
#sfd {
    margin: 5em 0em;

    .content-box {
        margin: 1em 3em;

        h1 {
            font-size: 2.8em;
            font-weight: 600;
            line-height: 1.3em;
        }

        p {
            font-size: 1.1em;
            line-height: 2em;
            color: color("fonts")
        }
    }



    img {
        border-radius: .5em;
    }
}


@media only screen and (max-width: 768px) {

    #open-source,
    #sfd {
        margin: 0;

        .content-box {
            margin: 1em;

            h1 {
                font-size: 2em;
            }
        }

    }
}

#communities {
    padding: 1em;

    h1 {
        font-weight: 600;
        font-size: 2.5em;

        span {
            color: color(primary);
        }
    }

    .row2 {
        margin-top: 2em;
    }

    .community-box {
        margin: .3em 2em;
        padding: 3em 2em;
        transition: .5s;
        border-radius: .7em;

        img {
            margin-top: -7em;
        }

        h2 {
            padding-top: .3em;
            font-size: 1.5em;
            color: color(dark);
            font-weight: 600;
            transition: .5s;
        }

        p {
            font-size: 1em;
            line-height: 1.8em;
            color: color("fonts")
        }

        .border-bottom {
            margin-left: 5.5em;
            margin-right: 5.5em;
            border: .08em solid #777;
        }

        a {
            padding: .3em;
            text-transform: uppercase;
            letter-spacing: .3em;
            text-decoration: none;
            color: color(primary);
            font-weight: 600;
            transition: .3s;

            i {
                transition: .3s;
            }
        }

        a:hover {
            color: color(primary-dark);
            transition: .3s;

            i {
                transform: translateX(5px);
                transition: .3s;
            }
        }
    }

    .box-one {
        background-color: #50d38d33;
    }

    .box-two {
        background-color: #9b51e033;
    }

    .box-three {
        background-color: #56ccf233;
    }

    .box-four {
        background-color: #FFF22233;
    }

    .box-five {
        background-color: #2B2B5233;
    }

    .box-six {
        background-color: #EA777333;
    }

}

@media only screen and (max-width:768px) {
    #communities {
        h1 {
            font-size: 2em;
        }

        .row2 {
            margin-top: 0;
        }

        .community-box {
            margin: .8em .5em;
        }
    }
}

#apply {
    margin-top: 2em;
    padding-top: 3em;
    background-image: url(/img/hands-left.svg), url(/img/hands-right.svg);
    background-repeat: no-repeat;
    width: 100%;
    padding: 200px 0px;
    background-position: bottom left, bottom right;
    margin-bottom: 80px;

    h1 {
        font-size: 3em;
        font-weight: 700;
    }

    p {
        font-size: 1.3em;
        color: color("fonts");
    }
}

@media only screen and (max-width: 768px) {
    #apply {
        background-image: None;
        padding: 50px 0px;


        h1 {
            font-size: 2em;
        }

        p {
            font-size: 1em;
        }
    }
}

footer {
    background-color: #f7f7f7;
    margin: 0 auto;
    padding: 3em;

    .cta {
        p {
            font-size: 1.2em;
            color: color("fonts");

            i {
                color: red;
            }

            span {
                font-weight: 600;
                color: color("font");
            }

            span:hover {
                color: color(primary);
            }
        }

        a {
            text-decoration: none;
            color: color("dark");
        }
    }

    .mail {
        span {
            text-decoration: underline;
            text-decoration-color: color(primary);
        }
    }

}

@media only screen and (max-width: 768px) {
    footer {
        padding: 1.2em 1em;

        .cta {
            text-align: center !important;
            p {
                font-size: 1em;
                margin: 0;
            }
        }

    }
}